/* One Stylesheet to Rule Them All
   AKA this stylesheet applies to all pages on site */
/* Formatting for all page body */

body {
    background-image: url(../images/connect.png);
    color: gray;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
flex: 1 0 auto;
}

nav .brand-logo {
    padding-left: 5px;
}

h1 {
    margin: none;
}

#icon {
    width: 80px;
    margin: none;
    padding: 5px; 
}

.btn {
    background-color: #82b1ff;
    color: #f5f5f5;
}